.ad
    display: none

    @media $query.m
        display: block

.leaderboard
    width: 720px
    height: 90px
    //max-width: 90%
    margin: 25px auto
    overflow: hidden

.superbanner
    width: 960px
    height: 288px
    //max-width: 90%
    margin: 25px auto
    overflow: hidden 




#billionaire
    position: relative
    .stage
        padding: 10px
        z-index: 2
        position: relative
    .title
        margin: 0 0 15px 0
        padding: 0
        display: block
        color: #fff
        font-size: 20px
        text-shadow: #f02020 0 0 5px
    .cta
        top: 26px
        right: -10px
        position: absolute
        padding: 8px 22px 8px 12px
        font-size: 12px
        text-transform: uppercase
        border-radius: 12px
        background-color: #fff

    p
        color: #fff
        font-size: 12px
        text-shadow: #000 0 1px 1px

    img
        z-index: 1
        position: absolute
        left: 0
        top: 0
