.leaderboard
    width: 720px
    height: 90px
    max-width: 90%
    display: block
    margin: 25px auto
    overflow: hidden

.superbanner
    width: 960px
    height: 288px
    max-width: 90%
    display: block
    margin: 25px auto
    overflow: hidden 