
.post-image

  margin: 0 0 10px 0
  display: block
  position: relative

  &--teaser
    width: auto
    max-width: 200px
    min-width: 200px
    height: auto
    margin: 0 15px 0 0
    float: left

  img
    width: 100%

  .caption

    padding: 6px
    color: $colors.white
    font-size: 11px
    position: absolute
    left: 0
    bottom: 0
    background: #006799
