
.post-image

  margin: 0 0 10px 0
  display: block
  position: relative

  &--teaser
    width: 200px
    max-width: 50%
    height: auto
    margin: 0 15px 0 0
    float: left

    @media screen and (min-width: 600px)
      max-width: 200px

  img
    width: 100%

  .caption
    padding: 0 6px
    color: $colors.white
    font-size: 10px
    position: absolute
    left: 0
    bottom: 0
    background: alpha(#006799, 0.9)
