
.post-image

  margin: 0 0 10px 0
  display: block
  position: relative

  &--teaser
    width: 240px
    max-width: 50%
    height: auto
    margin: 0 15px 0 0
    float: left

    @media screen and (min-width: 600px)
      max-width: 240px

  img
    width: 100%

  .caption
    padding: 0 6px
    color: $colors.white
    font-size: 10px
    position: absolute
    left: 0
    bottom: 0
    background: alpha(#006799, 0.9)


  .post-media-type
    width: auto
    display: block
    padding: 5px 10px
    z-index: 1
    position: absolute
    left: 0
    bottom: 0
    background-color: alpha(#fff, 0.8)

    &.is-video
      color: $colors.red
      font-weight: bold
