global-reset()

@import 'nib'

@require '../css/normalize.css'
// @require '../css/font-awesome/font-awesome.css'


// global styles
@require 'framework/_grid'
@require 'framework/_mixins'
@require 'framework/reset'


// global app styling
@require 'app/_settings'
@require 'app/_global'
@require 'app/_animation'
@require 'app/_page'
@require 'app/_header'
@require 'app/_main'
@require 'app/_footer'
@require 'app/_section'
@require 'app/_grid'
@require 'app/_masonry'
@require 'app/_slider'
@require 'app/_fortune-cookie'

// teasers listings
@require 'app/_teasers-images'
@require 'app/_teasers-gender'
@require 'app/_teasers-vip'


@require 'app/form/_mixins'
@require 'app/form/_form'
@require 'app/form/_input'
@require 'app/form/_checkbox'
@require 'app/form/_radio'
@require 'app/form/_select'
@require 'app/form/_submit'


// individual components
@require 'app/components/_animation'
@require 'app/components/_animator'
@require 'app/components/_badge'
@require 'app/components/_banner'
@require 'app/components/_breadcrumb'
@require 'app/components/_button'
@require 'app/components/_calendar' 
@require 'app/components/_category'
@require 'app/components/_comments'
@require 'app/components/_box'
@require 'app/components/_mainmenu'
@require 'app/components/_headermenu'
@require 'app/components/_holiday'
@require 'app/components/_footermenu'
@require 'app/components/_news-archive'
@require 'app/components/_list'
@require 'app/components/_jobs'
@require 'app/components/_article-list'
@require 'app/components/_panel'
@require 'app/components/_pagination'
@require 'app/components/_post-list'
@require 'app/components/_modal'
@require 'app/components/_quiz'
@require 'app/components/_quote'
@require 'app/components/_socials'
@require 'app/components/_table'
@require 'app/components/_ticker'
@require 'app/components/_topicmenu'

@require 'app/lists/*'

// content styles
@require 'app/_entry-content'

// sidebar
@require 'app/_sidebar'


// article page
@require 'app/article/_header'
@require 'app/article/_image'
@require 'app/article/_content'
@require 'app/article/_footer'
@require 'app/article/_author'
@require 'app/article/_comments'
@require 'app/article/_related-posts'
@require 'app/article/_vote'
@require 'app/article/_tags'
@require 'app/article/_teaser'

// tag page
@require 'app/tag/_index'


// post type person
@require 'app/_article-person'



// add css packages
@require 'app/jobs/_job-items-list'


@require 'app/_news'
@require 'app/_newsletter'
@require 'app/_teaser'


@require 'app/article-v2/_layout'
@require 'app/article-v2/_header'
@require 'app/article-v2/_related-posts'
@require 'app/article-v2/_footer-components'


// Lachvegas fragt dich
@require 'app/_poll'

