

.footermenu
  text-align: left
    
  ul
    display: flex
    list-style: none

  .menu-item
    text-align: left

    a
      display: block
      color: #303030
      font-size: 12px
      transition: all 150ms ease-in-out

      &:hover
        color: $colors.red
        text-decoration: none
