
.article-header
  display: block


.article-meta-bar
  display: flex
  justify-content: space-between
  align-items: center


.article-meta
  display: flex
  align-items: baseline
  
  &__column
    margin-right: 20px
    display: flex
    align-items: baseline

  &__label
    margin-right: 5px 
    color: #606060
    font-size: 13px

  &__text
    color: #404040
    font-size: 14px

