

.article-title
  margin: 0 0 15px 0

  & > a:hover
    color: $colors.blue


.article-content
  margin: 20px 0


.article-excerpt
.article-content
  clearfix()

  p
    margin: 0 0 15px 0
    color: $colors.black
    font-size: 13px
    line-height: 165%

    @media $query.m
      font-size: 15px



  ol
    padding-left: 36px
    list-style: decimal
    counter-reset: ol-counter
    list-style: none

    li
      min-height: 42px
      counter-increment: ol-counter
      position: relative

      &:before
        width: 24px
        height: 24px
        content: counter(ol-counter)
        color: $colors.red
        font-size: 13px
        font-weight: bold
        line-height: 24px
        text-align: center
        position: absolute
        top: 6px 
        left: -36px
        border-radius: 50%
        background-color: #303030
        transform: rotate(5deg)

      &:nth-child(2n)
        background-color: #f9f9f9

    @media $query.m
      padding-left: 50px
      li
        &:before
          width: 32px
          height: 32px
          font-size: 16px
          line-height: 32px
          top: 6px 
          left: -50px




  ul
    padding-left: 20px
    list-style: disc

  ol
  ul
    li
      margin: 0 0 10px 0
      font-size: 13px
      line-height: 165%

      @media $query.m
        font-size: 15px


  table
    width: 100%
    overflow: auto

    th
    td
      padding: 8px 12px
      text-align: left
      white-space: nowrap

    td[align="right"]
      text-align: right

    th
    thead td
      padding: 8px 12px
      color: $colors.white
      background-color: $colors.black

    tbody

      tr

        &:nth-child(2n+1)
          td
            background-color: darken($colors.white, 5%)


        &.highlight
          td
            color: $colors.white
            background-color: lighten($colors.orange, 20%)

            a
              color: $colors.white
              text-decoration: underline
