
.main
	width: 100%
	max-width: 1000px
	margin: 0 auto
	display: block
	position: relative
	

.content-wrapper
	width: 1000px
	margin: 0 auto
	display: flex
	flex-wrap: wrap

.content
	padding: 0
	
	&__area
		max-width: 100%
		min-width: 100%
		margin: 40px auto
		padding: 40px 0
		display: flex
		flex-wrap: wrap
		background-color: white
		border: 1px solid #e9e9e9
		box-shadow: 0 0 1px #f0f0f0
		border-bottom: 2px solid #e9e9e9

		&--wide
			width: 100%
			padding: 0 40px 

		&--primary
			width: 100%
			padding: 0 5%

			@media screen and (min-width: 1000px)
				width: 65%
				padding: 0 25px 0 50px

		&--secondary
			width: 100%
			padding: 0 5%

			@media screen and (min-width: 1000px)
				width: 35%
				padding: 0 50px 0 25px


		&--full
			width: 100%
			padding: 40px 20px
			display: flex
			justify-content: space-between

			&--primary
				width: 30%
				padding: 40px
				color: #fff
				background-color: #303030

			&--secondary
				width: 70%
				padding: 40px