
.slider-wrapper
  margin: 0 40px
  display: block
  overflow: hidden

.slider
  width: 100%
  display: flex
  justify-content: space-between

  &__item
    width: auto
    display: block

  &__image
    width: auto
    max-width: 100%
    height: auto
    display: block