.teaser
	display: flex
	justify-content: space-between

	&__image
		width: 240px
		min-width: 240px
		height: auto
		max-height: 150px
		margin-right: 20px
		display: flex
		justify-content: center
		align-items: center
		background-color: #f0f0f0

		& > a
			width: 100%
			display: flex
			justify-content: center

		img
			width: auto
			height: 100%
			max-height: 150px

	&__content
		font-size: 14px

		.post-excerpt
			line-height: 150%
	