
.article-footer-components
  width: 100%
  max-width: 720px
  margin: 40px auto
  padding: 40px 0
  display: flex
  flex-wrap: wrap
  align-items: top
  justify-content: space-between
  border-top: 2px solid #f0f0f0

  & > .component
    flex-basis: 46%
    margin: 25px 0