
.article-header
    display: block

.article-title
    font-size: 18px

    @media $query.m
        font-size: 24px

    @media $query.xl
        font-size: 38px
         


.article-meta-bar
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap


.article-meta
    display: flex
    align-items: baseline
    
    &__column
        margin-right: 20px
        display: flex
        align-items: baseline
    
    &__label
        margin-right: 5px
        color: #606060
        font-size: 13px
    
    &__text
        color: #404040
        font-size: 14px

