
.related-posts
  padding-top: 50px

  &__list
    width: 100%
    display: flex
    align-items: top
    flex-wrap: wrap
    justify-content: space-between

  &__list__item
    width: 30%

  .related-post
    display: block
    margin-bottom: 40px

    .post-image
      margin: 0 0 10px 0
      max-height: 121px
      overflow: hidden

    a
      color: #404040
      font-size: 14px
      font-weight: 600

      &:hover
        color: $colors.red