.cookie-info
	width: 100%
	margin: 0
	padding: 20px
	display: flex
	align-items: center
	justify-content: space-between
	flex-wrap: wrap
	font-size: 13px
	background-color: #fff
	border: 1px solid #e0e0e0
	border-radius: 3px
	z-index: 100
	position: fixed
	bottom: 0
	left: 0
	box-shadow: 0 -1px 2px alpha(#000, 0.15)

	@media $query.m
		padding: 50px
		flex-wrap: nowrap

	.link
		width: 100%
		padding: 10px
		color: #404040
		cursor: pointer
		border: 1px solid #e0e0e0
		background: linear-gradient(180deg, #fff, darken(#fff, 10%))
		border-radius: 3px

		@media $query.m
			min-width: 340px
	