
.footer
	margin-bottom: 0
	padding: 0 0 100px 0
	border-top: 1px solid #f0f0f0
	background: #f9f9f9

	&__inner
		max-width: 1000px
		margin: 0 auto
		padding: 10px 0
		display: flex
		justify-content: space-between

	&__menu
		width: 100%

		@media screen and (min-width: 1000px)
			width: 70%

	.footer-copyright
		margin: 20px 0
		color: #808080
		font-size: 12px
		text-align: center

		@media screen and (min-width: 1000px)
			font-size: 12px
			text-align: left
