
$options = {
	columns: 6,
	rows: 4
}

.section-newsletter
	margin: 0
	padding: 0

.newsletter
	display: flex
	padding: 0

.newsletter-opener
	width: 30%
	padding: 20px
	display: flex
	align-items: center
	justify-content: center
	background-color: #84d4d1

.newsletter-form
	width: 70%
	padding: 20px
	background-color: #84d4d1

	p
		color: #fff

	[type=email]
		width: 260px !important
		display: block
		padding: 8px 12px
		border: 0 solid #f0f0f0

	[type=submit]
		width: 100%
		min-width: 160px
		padding: 6px 12px
		border: 2px solid #ffffff
		background-color: transparent


.newsletter-form-mailpoet
	margin: 20px 0

	.mailpoet_paragraph
		display: inline-block
		vertical-align: top

		a
			color: #000
			&:hover
				text-decoration: underline

.newsletter-envelope
	display: flex
	justify-content: center
	position: relative

	svg
		color: #fff
		font-size: 160px
		position: relative

	img
		width: 60px
		position: absolute
		left: 50%
		top: 40px
		margin-left: -30px

.newsletter-title
	margin: 0 0 20px 0
	color: #fff
	font-size: 32px

.newsletter-text-small
	margin: 10px 0
	font-size: 12px


.parsley-custom-error-message
	font-size: 12px