.statistic
  padding: 20px 0
  display: flex
  flex-wrap: wrap
  
  &__subtitle
    width: 100%
    display: block
    margin: 0 0 20px 0
    font-size: 16px

  &__text
    width: 100%
    margin: 25px 0
    color: #fff
    font-size: 32px
    font-family: "Indie Flower", cursive
    line-height: 42px
    text-transform: uppercase

    strong
      font-size: 72px
      line-height: 36px
