.statistic
  padding: 20px 0
  display: flex
  flex-wrap: wrap
  
  &__subtitle
    width: 100%
    display: block
    margin: 0 0 20px 0
    font-size: 16px

  &__text
    width: 100%
    margin: 0
    color: #fff
    font-size: 18px
    //font-family: "Indie Flower", cursive
    line-height: 32px
    text-shadow: #000 0 1px 5px

  &__footer
    width: 100%
    display: block
    margin: 10px 0 0 0
    font-style: italic
    text-align: right
