.teaser
	display: flex
	justify-content: left
	flex-wrap: wrap

	@media $query.m
		flex-wrap: nowrap

	&__image
		width: 240px
		min-width: 240px
		height: auto
		max-height: 150px
		margin-right: 20px
		display: flex
		justify-content: center
		align-items: center
		background-color: #f0f0f0

		& > a
			width: 100%
			display: flex
			justify-content: center

		img
			width: auto
			height: 100%
			max-height: 150px

	&__tags
		margin: 0 0 10px 0
		display: none

	&__subtitle
		display: block
		margin: 0 0 5px 0
		font-size: 14px
		font-weight: 500

	&__time
		width: 25%
		min-width: 25%
		padding-right: 32px
		display: block
		text-align: right

		.post-date
			color: #909090
			font-size: 16px
			font-weight: 500

			&.is-today
				color: $colors.red

	&__content
		font-size: 14px

		.post-title
			font-size: 18px
			font-weight: 700

		.post-excerpt
			line-height: 150%


	&--small
		
		.teaser__subtitle
			margin: 3px 0 0 0
			color: #888
			font-size: 12px
			font-weight: normal

		.teaser__content
			.post-title
				font-size: 14px
				font-weight: 600
				line-height: 150%
	