.tag

  display: block


  .archive-title
    text-transform: uppercase


  .post-entry
    margin: 0 0 50px 0
    padding: 0 0 50px 0
    border-bottom: 1px solid darken($colors.white, 15%)


    .post-title
      margin: 0 0 10px 0
      display: block
      font-size: 1.35em
      font-weight: bold

      img
        width: 150px
        height: 150px
        margin: 0 20px 0 0
        float: left

  .post-meta
    display: none

  .post-excerpt
    padding: 0 0 0 170px
    font-size: 1.05em
    line-height: 135%
