#breadcrumbs
  width: auto
  max-width: 100%
  margin: 20px 50px 0 50px
  padding: 0
  display: none
  font-size: 12px
  position: relative

  a
    margin: 0

    &:first-child
      margin-left: 0

  a:hover
    text-decoration: underline

  .breadcrumb_last
    color: #909090
    font-weight: normal


  @media $query.m
      display: block



.article-wrapper #breadcrumbs
  width: 100%
  max-width: 720px
  margin: 0 auto