

.footermenu
  text-align: left
    
  ul
    width: 100%
    max-width: 100%
    display: block
    list-style: none

  .menu-item
    width: 100%
    
    @media screen and (min-width: 1000px)
      width: auto
      margin-right: 25px
      text-align: left

    a
      padding: 10px 0
      display: block
      color: #909090
      font-family: 'Montserrat'
      transition: all 150ms ease-in-out	

      @media screen and (min-width: 1000px)
        padding: 5px 0
        font-size: 13px

      &:hover
        color: $colors.red
        text-decoration: none

        @media screen and (min-width: 1000px)
          background-color: transparent


