.holiday
  margin: 40px
  position: relative
  
.holiday-grid
  display: flex
  justify-content: space-between
.holiday-grid-item
  flex: 1
  display: block

  &--center
    text-align: center

.holiday-content
  padding: 0 20px

.holiday-title
  margin: 0 0 10px 0
  font-size: 20px

.holiday-image
  border: 6px solid #f0f0f0

.holiday-date
  color: #c0c0c0
  font-size: 13px
  margin-right: 10px
  
.holiday-subtitle
  font-size: 13px