.news-archive
  display: flex
  justify-content: center
  flex-wrap: wrap
  list-style: none

  li
    list-style: none

    &:after
      content: ' | '
      margin: 0 10px 
      display: inline-block
      color: #b0b0b0
