
.socials-wrapper
	margin: 0
	display: flex
	justify-content: right
	align-items: center
	text-align: right

.socials
	display: flex
	margin-right: 0
	justify-content: right
	align-items: center


	&__title
		flex: 1
		color: #909090
		font-size: 13px
		font-weight: 200
	
	&__item
		margin: 0
		height: 22px
		display: flex
		align-items: center
		
		&-link
			width: auto
			margin-left: 6px
			color: #808080
			display: block
			transition: unquote($settings.transition)

			svg
				font-size: 22px
			
		&.facebook a
			color: $socials.facebook
			& > a:hover
				color: $socials.facebook
				
		&.twitter a
			color: $socials.twitter
			& > a:hover
				color: $socials.twitter

		&.email a
			color: $socials.email
			& > a:hover
				color: $socials.email

		&.linkedin a
			color: $socials.linkedin
			& > a:hover
				color: $socials.linkedin
			
		&.pinterest a
			color: $socials.pinterest
			& > a:hover
				color: $socials.pinterest

		&.whatsapp a
			color: $socials.whatsapp
			& > a:hover
				color: $socials.whatsapp



		&.facebook-like
			div
				margin-top: -2px
			
